p
{
    color: blue;
}



li.superpose {
   position: absolute;
   top: 0px;
   left: 0px;
}



@keyframes clignementPaupiereSup {
	0% {height : 0%;}
    90%{height : 0%;}
	95% {height : 60%;}
	100% {height : 0%;}
}


#masquePaupiereSupGauche{
	/*Position de la paupière*/
	position : fixed;
	left : 0%;
	top : 12%;

	/*animation-name: clignementPaupiereSup;*/
    animation-duration: 10s
    animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	/*-moz-animation-name: clignementPaupiereSup;*/
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}

#masquePaupiereSupDroit{
	/*Position de la paupière*/
	position : fixed;
	right : 0%;
	top : 12%;
	
	/*animation-name: clignementPaupiereSup;*/
    animation-duration: 10s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	/*-moz-animation-name: clignementPaupiereSup;*/
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}

#oeilGauche{

	position : fixed;
	top: 20%;
	left : 0%;

}

#oeilDroit{

	position : fixed;
	top: 20%;
	right : 0%;

}

#pupilleGauche{

	position : fixed;
	top: 30%;
	left : 10%;
}


#pupilleDroit{

	position : fixed;
	top: 30%;
	right : 10%;
	
}


@keyframes clignementPaupiereInf {
	0% {bottom : 0%;}
    90%{bottom : 0%;}
	95% {bottom : 30%;}
	100% {bottom : 0%;}
}

#masquePaupiereInfGauche{
	position: fixed;
	bottom : 0%;
	left: 0%;
	
	
	animation-name: clignementPaupiereInf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	-moz-animation-name: clignementPaupiereInf;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	

}

#masquePaupiereInfDroit{
	position: fixed;
	bottom : 0%;
	right : 0%;
	
	
	animation-name: clignementPaupiereInf;
    animation-duration: 10s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	-moz-animation-name: clignementPaupiereInf;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;

}

#sourcilGauche{
	
	position: fixed;
	top : 18%;
	left : 23%;
	-moz-transform:rotate(25deg);
	
}


#sourcilDroit{
	
	position: fixed;
	top : 0%;
	right : 25%;
	-moz-transform:rotate(155deg);
}