p
{
    color: blue;
}



li.superpose {
   position: absolute;
   top: 0px;
   left: 0px;
}



@keyframes clignementPaupiereSup {
	0% {top : -15%;}
    90%{top : -15%;}
	95% {top : 18%;}
	100% {top : 0%;}
}


#masquePaupiereSupGauche{
	/*Position de la paupière*/
	position : fixed;
	left : 0%;
	top : 0%;

	animation-name: clignementPaupiereSup;
    animation-duration: 10s
    animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	-moz-animation-name: clignementPaupiereSup;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}

#masquePaupiereSupDroit{
	/*Position de la paupière*/
	position : fixed;
	right : 0%;
	top : 0%;
	
	animation-name: clignementPaupiereSup;
    animation-duration: 10s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	-moz-animation-name: clignementPaupiereSup;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
}

#oeilGauche{

	position : fixed;
	top: 20%;
	left : 0%;

}

#oeilDroit{

	position : fixed;
	top: 20%;
	right : 0%;

}

@keyframes mouvementPupilleGauche {
	0% {left : 10%;}
    70%{left : 10%;}
	75% {left: 8%;}
	80%{left: 12%;}
	85%{left : 10%;}
	100% {left : 10%;}
}


#pupilleGauche{

	position : fixed;
	top: 30%;
	left : 0%;
	-moz-animation-name: mouvementPupilleGauche;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
	-moz-transition-property: top;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;
	-moz-transition-delay: 1s;
}

@keyframes mouvementPupilleDroite {
	0% {right : 10%;}
    70%{right : 10%;}
	75% {right: 12%;}
	80%{right: 8%;}
	85%{right : 10%;}
	100% {right : 10%;}
}


#pupilleDroit{

	position : fixed;
	top: 30%;
	right : 0%;
	-moz-animation-name: mouvementPupilleDroite;
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
	-moz-transition-property: top;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 1s;
	
	
}


@keyframes clignementPaupiereInf {
	0% {bottom : 0%;}
    90%{bottom : 0%;}
	95% {bottom : 40%;}
	100% {bottom : 0%;}
}

#masquePaupiereInfGauche{
	position: fixed;
	bottom : 0%;
	left: 0%;
	
	/*animation-name: clignementPaupiereInf;*/
    animation-duration: 10s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	/*-moz-animation-name: clignementPaupiereInf;*/
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
	
	/*Transition*/
	transition-property: bottom;
    transition-duration: 2s;
    transition-timing-function: linear;
	-moz-transition-property: bottom;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;
	
}

#masquePaupiereInfDroit{
	position: fixed;
	bottom : 0%;
	right : 0%;
	
	/*animation-name: clignementPaupiereInf;*/
    animation-duration: 10s;
    animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	/*-moz-animation-name: clignementPaupiereInf;*/
	-moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-out;
	
	/*Transition*/
	transition-property: bottom;
    transition-duration: 2s;
    transition-timing-function: linear;
	-moz-transition-property: bottom;
    -moz-transition-duration: 2s;
    -moz-transition-timing-function: linear;

}

#sourcilGauche{
	
	position: fixed;
	bottom : 88%;
	left : 15%;
	 -moz-transform:rotate(155deg);


}


#sourcilDroit{
	
	position: fixed;
	top : 12%;
	right : 20%;
	-moz-transform:rotate(25deg);

}
